<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" name="viewport">
	<title><%= GuildName %> Discord Server!</title>
	<meta name="description" content="<%= Description %>">
	<meta property="og:title" content="Join the <%= GuildName %> Discord Server!">
	<meta property="og:url" content="https://discord.gg/MsJ99j5Bcv">
	<meta property="og:description" content="<%= Description %>">
	<meta property="og:site_name" content="<%= GuildName %>" />
	<meta property="og:image" content="<%= GuildIcon %>">
	<meta property="og:image:type" content="image/jpeg">
	<meta property="og:image:width" content="512">
	<meta property="og:image:height" content="512">
	<meta http-equiv="refresh" content="0; url=<%= InviteLink %>" />
</head>

<body>
</body>

</html>